#comparisonBox {
  display: none;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 40%;
  bottom: 10%;
  right: 0;
  overflow: auto;
  background-color: #f3f2f8;
  color: #000000;
  font-size: 15px;
  border-radius: 0.5em;
}
#comparisonBox .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 2em;
}
#comparisonBox .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
#comparisonBox .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  transition: 0.4s;
}
#comparisonBox .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
#comparisonBox input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
#comparisonBox input:checked + .slider:before {
  transform: translateX(26px);
}
#comparisonBox .slider.round {
  border-radius: 34px;
}
#comparisonBox .slider.round:before {
  border-radius: 50%;
}
#comparisonBox th,
#comparisonBox td {
  table-layout: fixed;
  border-bottom-color: #f3f2f8;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-color: #f3f2f8;
  border-left-style: solid;
  border-left-width: 3px;
}
#comparisonBox th {
  text-align: center;
  width: 75px;
  letter-spacing: 0.08em;
}
#comparisonBox td {
  padding: 0.1em;
}
#comparisonBox table {
  margin: auto;
}
#comparisonBox hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #7f7f7f;
  margin: 1em 2.5em;
  padding: 0;
}
#comparisonBox .headingDiv {
  background: linear-gradient(rgba(243, 242, 248, 0.75), rgba(243, 242, 248, 0.9)), url("http://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/3112335.png&w=350&h=254");
  background-position-x: center;
  background-size: 20%;
}
#comparisonBox .headingDiv .headingGridDiv {
  position: relative;
  display: grid;
  grid-template-columns: 33% 33% 30% 4%;
}
#comparisonBox .headingDiv .headingGridDiv #closeButton {
  max-height: 2.3em;
  max-width: 2.3em;
}
#comparisonBox .headingDiv .headingGridDiv #appImage {
  max-height: 115px;
}
#comparisonBox .headingDiv .headingGridDiv #playerSelector,
#comparisonBox .headingDiv .headingGridDiv #statSelector {
  margin: 1em;
  right: 50px;
}
#comparisonBox .weekTable {
  margin: 1em 2.5em;
  position: relative;
  background-color: #fff;
  padding: 0.75em 0;
  width: auto;
  box-sizing: border-box;
  border-radius: 0.5em;
}
#comparisonBox .weekTable table {
  margin: auto;
}
#comparisonBox .weekTable th {
  text-align: center;
  padding-bottom: 0.3em;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.08em;
}
#comparisonBox .weekTable td {
  padding: 0.1em;
}
#comparisonBox .weekTable th,
#comparisonBox .weekTable td {
  table-layout: fixed;
  border-bottom-color: #f3f2f8;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-left-color: #f3f2f8;
  border-left-style: solid;
  border-left-width: 3px;
}
#comparisonBox .weekTable span {
  font-size: 12px;
  padding-left: 5px;
}
#comparisonBox .weekTable .col0,
#comparisonBox .weekTable .dataCol0 {
  width: 15em;
  border-left: none;
}
#comparisonBox .weekTable .col1 {
  width: 6em;
}
#comparisonBox .weekTable .col2,
#comparisonBox .weekTable .col3,
#comparisonBox .weekTable .col4,
#comparisonBox .weekTable .col5,
#comparisonBox .weekTable .col6,
#comparisonBox .weekTable .col7,
#comparisonBox .weekTable .col8 {
  width: 50px;
}
#comparisonBox .weekTable .col9 {
  width: 90px;
}
#comparisonBox .weekTable .dataCol0 {
  text-align: left;
}
#comparisonBox .weekTable .matchCount3 {
  background-color: #fff1ad;
}
#comparisonBox .weekTable .matchCount4 {
  background-color: #ffe97c;
}
#comparisonBox .weekTable .matchCount5 {
  background-color: #ffdf3f;
}
#comparisonBox .weekTable .pastDate {
  background-color: #f3f2f8;
}
#comparisonBox .weekTable .plusMinus-5,
#comparisonBox .weekTable .plusMinus-4,
#comparisonBox .weekTable .plusMinus-3,
#comparisonBox .weekTable .plusMinus-2,
#comparisonBox .weekTable .plusMinus-1 {
  background-color: #fff;
}
#comparisonBox .weekTable .plusMinus0 {
  background-color: #d9fcf2;
}
#comparisonBox .weekTable .plusMinus1 {
  background-color: #b7fbbe;
}
#comparisonBox .weekTable .plusMinus2 {
  background-color: #90e9a7;
}
#comparisonBox .weekTable .plusMinus3 {
  background-color: #46d272;
}
#comparisonBox .weekTable .selectedCell {
  background-color: #68b1ff;
}
#comparisonBox .weekTable .tableDataOne {
  font-size: 14px;
}
#comparisonBox .weekTable .today {
  background-color: #f3f2f8;
}
#comparisonBox .statTable {
  margin: 1em 2.5em;
  position: relative;
  background-color: #fff;
  width: auto;
  padding: 0.75em 0;
  border-radius: 0.5em;
}
#comparisonBox .statTable .col0,
#comparisonBox .statTable .dataCol0 {
  border-left: none;
}
#comparisonBox .statTable .statNoChange {
  background-color: #d9fcf2;
}
#comparisonBox .statTable .statGain {
  background-color: #b7fbbe;
}

/*# sourceMappingURL=main.css.map */
